.hide {
    display: none;
}

#my-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#my-modal-login {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal-content-login {
    text-align: center;
    margin: 10% auto;
    width: 30%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

#modal-content-register {
    text-align: center;
    margin: 10% auto;
    width: 30%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.modal-body {
    padding: 10px 20px;
    background: #fff;
}

#close {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
}

#close:hover,
#close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#closeLogin {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
}

#closeLogin:hover,
#closeLogin:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    text-align: center;
}

#faves {
    width: 10%;
}

#logout {
    color: white;
    text-decoration: none;
}