{% extends "layout.html" %}

{% block content %}

<div id="body-wrapper">
    <header class="clearfix">
        <img id="header-logo" src="{{ url_for('static', filename='assets/codecool-logo.png') }}" alt="Codecool Logo">
        <span id="header-title" class="title">
                        Codecool Series DB
                    </span>
        <div id="header-auth">
            <button type="button" id="bt_register">Register</button>
            <button type="button" id="bt_login">Login</button>
        </div>
    </header>
    <section>
        <h1 class="title text-center">Welcome page</h1>
        <div class="card">
            <h2>Welcome TV show lovers!</h2>
            <p>This great site is happy to bring you your favourite TV show's <i>details</i>.</p>
            <p></p>
{#            <p>Okay, actually this is a designed dumb page without any logic.</p>#}
{#            <p>You can find a navigational element, the so called "breadcrumb" above the page's title. Use it for#}
{#                in-depth#}
{#                navigation.#}
{#            </p>#}
        </div>
        <div class="card">
            <table>
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Release year</th>
                    <th>Average runtime length</th>
                    <th>Genres</th>
                    <th>Rating</th>
                    <th>Trailer</th>
                    <th>Homepage</th>
                </tr>
                </thead>
                <tbody>

                {% for show in shows %}

                <tr>
                    <td><a href="{{ '/tv-show/' + (show['id'] | string) }}">{{ show['title'] }}</a></td>
                    <td>{{ show['year'] }}</td>
                    <td>{{ show['runtime'] }}</td>
                    <td>{{ show['genre'] }}</td>
                    <td>{{ show['rating'] }}</td>
                    <td>{{ show['trailer'] }}</td>
                    <td>{{ show['homepage'] }}</td>
                </tr>

                {% endfor %}

                </tbody>
            </table>

        </div>

        <button>
            <a href="{{ url_for('get_shows_per_page', page_id=page_id-1) }}">Previous</a>
        </button>
        <button>
            <a href="{{ url_for('get_shows_per_page', page_id=page_id+1) }}">Next</a>
        </button>

{#        <div class="list" id="list"></div>#}
{#        <div class="pagenumbers" id="pagination"></div>#}
    </section>

{% endblock %}