{% extends "layout.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}


    <div class="card detailed-view">
    {% for actor in actors %}

    <ul>
        <li>
            <p class="actor">{{ actor['name'] }}</p>

            <ol class="hide">

                    {% for show in actor['titles'].split('#') %}
                    <li>{{  show  }}</li>
                    {% endfor %}
            </ol>

        </li>
    </ul>

   {% endfor %}
    </div>
<button type="button" id="bt_return"><a href="{{ url_for('index') }}">Go home</button>

</div>

{% endblock %}