{% extends "layout.html" %}

{% block content %}

<div id="body-wrapper">
    <header class="clearfix">
        <img id="header-logo" src="{{ url_for('static', filename='assets/codecool-logo.png') }}" alt="Codecool Logo">
        <span id="header-title" class="title">
                        Codecool Series DB
                    </span>
        <div id="header-auth">
            <button type="button" id="bt_register">Register</button>
            <button type="button" id="bt_login">Login</button>
        </div>
    </header>

    {% for actor in actors %}

    <ul>
        <li>
            <p>{{ actor['name'] }}</p>

            <ol class="hide">

                    {% for show in actor['titles'].split('#') %}
                    <li>{{  show  }}</li>
                    {% endfor %}

            </ol>

    </ul>

   {% endfor %}

<button type="button" id="bt_return"><a href="{{ url_for('index') }}">Go home</button>

</div>

<script>
    document.querySelectorAll('p').forEach(p => p.addEventListener('click', e => {
        e.preventDefault();
        e.target.nextElementSibling.classList.toggle('hide')
    }))
</script>

{#     <script src="./static/JS/main.js" defer></script>#}

{% endblock %}